GLOBAL_LLM_SERVICE="AzureOpenAI"
AZURE_OPENAI_API_KEY="..."
AZURE_OPENAI_ENDPOINT="https://..."
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="..."
AZURE_OPENAI_API_VERSION="..."
PROJECT_CONNECTION_STRING="..."
GITHUB_TOKEN="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"
